.Content {
    .AboutContentArea {
        .AboutContentArea__introduction {
            display: flex;
            .IntroductionArea {
                margin: 0 auto;
                display: flex;
                height: 260px;
                .IntroductionImg {
                    height: 95%;
                    img {
                        // width: 38%;
                        // height: 250px;
                        height: 100%;
                        object-fit: contain;
                        margin-right: 36px;
                        position: relative;
                    }
                }
                .IntroductionContent {
                    width: 100%;
                    margin-left: 24px;
                }
                .Introduction {
                    display: flex;
                    padding: 8px 0 8px 0;
                    margin-bottom: 8px;
                    &:first-child {
                        margin-top: 16px;
                    }
                    @extend .text--title-5;
                    .Introduction__label {
                        width: 180px;
                        text-align: left;
                    }
                    // .Introduction__description {}
                }
            }
        }
        .AboutContentArea__history {
            padding: 24px 64px 24px 64px;
            .HistoryTable {
                @extend .text--title-5;
                margin: 0 auto;
                text-align: left;
                line-height: 32px;
                border-collapse: collapse;
                .HistoryTable__header {
                    @extend .text--title-5;
                    width: 100px;
                }
            }
            .HistoryTable tr {
                border-bottom: 1px solid $color-deep-blue--main;
            }
        }
    }
}


/* 480px以下に適用されるCSS（スマホ用） */

@media screen and (max-width: 480px) {
    .Content {
        .AboutContentArea {
            .AboutContentArea__introduction {
                .IntroductionArea {
                    display: block;
                    height: fit-content;
                    .IntroductionImg {
                        height: 160px;
                        img {
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .Introduction {
                        padding: 4px 0 4px 0;
                        @extend .text--title-5;
                        .Introduction__label {
                            width: 140px;
                            font-size: 14px;
                        }
                        .Introduction__description {
                            font-size: 14px;
                        }
                    }
                }
            }
            .AboutContentArea__history {
                display: block;
                padding: 16px 0;
                .HistoryTable {
                    font-size: 10x;
                    line-height: 24px;
                    .HistoryTable__header {
                        font-size: 14px;
                        width: 65px;
                    }
                    .HistoryTableContent {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}