.Content {
    .ContactArea {
        .ContactArea__header {
            padding-bottom: 16px;
            .ContactHeader__description {
                @extend .text--title-2;
                position: relative;
            }
        }
        .ContactArea__content {
            .ContactContentBtnArea {
                display: flex;
                justify-content: center;
                margin: 24px 0;
                .ContactContentBtnArea__btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: fit-content;
                    height: 50px;
                    border: 1px solid;
                    border-radius: 8px;
                    .ContactContentBtnArea__btn-Area {
                        display: flex;
                        padding: 0 16px;
                    }
                    &:hover {
                        cursor: pointer;
                        transition: 0.5s;
                        background-color: $color-light-blue--main;
                    }
                }
                .ContactContentBtnArea__icon {
                    margin-right: 16px;
                }
                .ContactContentBtnArea__msg {
                    @extend .text--title-2;
                }
            }
            .ContactContent__description {
                @extend .text--title-2;
                padding: 16px 0;
            }
        }
    }
}


/* 480px以下に適用されるCSS（スマホ用） */

@media screen and (max-width: 480px) {
    .Content {
        .ContactArea {
            .ContactArea__header {
                .ContactHeader__description {
                    font-size: 16px;
                }
            }
            .ContactArea__content {
                .ContactContentBtnArea {
                    margin: 16px 0;
                    .ContactContentBtnArea__btn {
                        height: 30px;
                        .ContactContentBtnArea__btn-Area {
                            align-items: center;
                        }
                        &:hover {
                            cursor: none;
                            background-color: $color--background-main;
                        }
                    }
                    .ContactContentBtnArea__icon {
                        &.Icon {
                            height: 16px;
                            width: 16px;
                        }
                    }
                    .ContactContentBtnArea__msg {
                        font-size: 16px;
                    }
                }
                .ContactContent__description {
                    font-size: 16px;
                }
            }
        }
    }
}