.FooterArea {
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    width: 100%;
    margin: 64px 0 32px 0;
    .FooterContent {
        .FooterContent_item {
            display: flex;
            justify-content: center;
            &:not(:first-child) {
                margin-top: 16px;
            }
            span {
                @extend .text--title-4_caption;
            }
            .Icon--github {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


/* 480px以下に適用されるCSS（スマホ用） */

@media screen and (max-width: 480px) {
    .FooterArea {
        bottom: 150px;
        margin: 24px auto;
        .FooterContent {
            .FooterContent_item {
                span {
                    font-size: 12px;
                }
                .Icon--github {
                    &:hover {
                        cursor: none;
                    }
                }
            }
        }
    }
}