.NavigationArea {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 3;
    background-color: $color--background-main;
    .NavigationArea__content {
        display: flex;
        margin: 0 64px;
        .NavigationArea__logo {
            display: flex;
            align-items: center;
            cursor: pointer;
            img {
                height: 35px;
                object-fit: contain;
            }
        }
        .NavigationContent__txt {
            @extend .text--title-4;
            display: flex;
            align-items: center;
            width: -webkit-fill-available;
            margin-left: 8px;
            cursor: pointer;
        }
        ul {
            display: flex;
            width: 100%;
            padding: 8px 0;
            margin: 0;
            list-style: none;
            justify-content: end;
            li {
                @extend .text--title-4;
                display: flex;
                height: 34px;
                width: 80px;
                font-weight: 100;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #ccc;
                &:first-child {
                    border-left: 1px solid #ccc;
                }
                 :hover {
                    font-weight: bold;
                    border-radius: 8px;
                    cursor: pointer;
                }
                .NavigationArea__item {
                    display: inline-block;
                    width: 90%;
                    height: 100%;
                    line-height: 34px;
                    position: relative;
                    text-align: center;
                    &.selected-title {
                        font-weight: 600;
                        background-color: $color-blue--main;
                        border-radius: 8px;
                    }
                }
                .NavigationArea__item::before {
                    content: "";
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: 100%;
                    background-color: $color-light-blue--main;
                    border-radius: 8px;
                    transform: translate3d(-100%, 0, 0);
                    transition: 0.3s;
                }
                .NavigationArea__item:hover:not(.selected-title)::before {
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
}


/* 480px以下に適用されるCSS（スマホ用） */

@media screen and (max-width: 480px) {
    .NavigationArea {
        display: flex;
        align-items: center;
        top: 90%;
        height: 200px;
        width: 100%;
        transition: 0.3s;
        justify-content: center;
        .NavigationArea__content {
            margin: 0 4px;
            height: fit-content;
            position: absolute;
            top: 7%;
            .NavigationArea__logo {
                margin-right: 4px;
                img {
                    height: 28px;
                }
            }
            .NavigationContent__txt {
                display: none;
                width: fit-content;
                font-size: 14px;
            }
            ul {
                justify-content: left;
                align-items: center;
                li {
                    font-size: 16px;
                    width: 65px;
                     :hover {
                        font-weight: initial;
                        cursor: none;
                    }
                    .NavigationArea__item::before {
                        display: none;
                    }
                }
            }
        }
        .NavigationArea--on {
            opacity: 0;
        }
    }
    //アニメーション
    .NavigationArea--off {
        animation-name: navigationFadeout;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes navigationFadeout {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: translate3d(0%, -10%, 0);
                display: none;
            }
        }
    }
    //アニメーション
    .NavigationArea--on {
        animation-name: navigationFadeIn;
        animation-delay: 0.5s;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        @keyframes navigationFadeIn {
            0% {
                opacity: 0;
                transform: translate3d(0%, -10%, 0);
            }
            100% {
                opacity: 1;
            }
        }
    }
}