.Modal,
.Modal--off {
    top: 95px;
    left: 30%;
    width: 600px;
    height: 450px;
    z-index: 3;
    position: fixed;
    background-color: $color--background-main;
    border: solid 1px $color-text--main;
    @extend .text--title-6;
    .ModalArea {
        .ModalHeaderArea {
            padding: 16px;
            border-bottom: 0.5px solid $color-text--main;
            .HeaderArea {
                display: flex;
                .HeaderArea__titile {
                    @extend .text--title-2__bold;
                }
                .HeaderArea__close {
                    position: absolute;
                    right: 16px;
                     :hover {
                        cursor: pointer;
                    }
                    .close {
                        display: block;
                        position: relative;
                        width: 30px;
                        height: 23px;
                    }
                    .close::before,
                    .close::after {
                        content: "";
                        position: absolute;
                        top: 10%;
                        left: 50%;
                        width: 3px;
                        height: 18px;
                        background: $color-text--main;
                    }
                    .close::before {
                        transform: rotate(45deg);
                    }
                    .close::after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .ModalContenArea {
            .ContentArea {
                .ContentArea__title {
                    @extend .text--title-3;
                    margin: 16px;
                }
                .ContentArea__description {
                    margin: 16px;
                }
                .ContentArea__select-area {
                    display: flex;
                    padding: 16px 0 24px 0;
                    .ContentAreaSelectBlock {
                        width: 50%;
                        height: 30px;
                        text-align: center;
                        border: solid 1px $color-text--main;
                        margin: 16px 24px 16px 24px;
                         :hover {
                            cursor: pointer;
                        }
                        &.ContentAreaSelectBlock--selected {
                            color: $color--background-main;
                            background-color: $color-green--main;
                            transition: 0.3s;
                        }
                        .ContentAreaSelectBlock__label {
                            padding: 8px;
                        }
                    }
                }
            }
        }
    }
}

//アニメーション設定
.Modal {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    @keyframes fadeIn {
        0% {
            opacity: 0.1;
        }
        100% {
            opacity: 1;
        }
    }
}

.Modal--off {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            display: none;
        }
    }
}


/* 480px以下に適用されるCSS（スマホ用） */

@media screen and (max-width: 480px) {
    .Modal,
    .Modal--off {
        top: 17%;
        left: 10%;
        width: 300px;
        height: 360px;
        font-size: 12px;
        .ModalArea {
            .ModalHeaderArea {
                .HeaderArea {
                    align-items: center;
                    .HeaderArea__titile {
                        font-size: 12px;
                    }
                    .HeaderArea__close {
                        .close {
                            width: 20px;
                            height: 20px;
                        }
                        .close::before,
                        .close::after {
                            content: "";
                            top: 10%;
                            left: 50%;
                            width: 3px;
                            height: 12px;
                        }
                    }
                }
            }
            .ModalContenArea {
                .ContentArea {
                    .ContentArea__title {
                        font-size: 12px;
                    }
                    .ContentArea__description {
                        margin: 16px 16px 0 16px;
                    }
                    .ContentArea__select-area {
                        padding: 16px 0;
                    }
                }
            }
        }
    }
}