.font {
    font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3, "メイリオ", Meiryo, sans-serif;
}

.font-def {
    @extend.font;
    font-weight: 400;
    color: $color-text--main;
}

.font-def--caption {
    @extend .font;
    font-weight: 400;
    font-size: 14px;
    color: $color-gray--main;
}

.text--title-1 {
    @extend .font-def;
    font-size: 24px;
}

.text--title-1__bold {
    @extend .font-def;
    font-weight: 600;
    font-size: 24px;
}

.text--title-2 {
    @extend .font-def;
    font-size: 20px;
}

.text--title-2__bold {
    @extend .font-def;
    font-weight: 600;
    font-size: 20px;
}

.text--title-3 {
    @extend .font-def;
    font-size: 18px;
}

.text--title-3__bold {
    @extend .font-def;
    font-size: 18px;
    font-weight: 600;
}

.text--title-4 {
    @extend .font-def;
    font-size: 16px;
}

.text--title-4_caption {
    @extend .font-def;
    font-size: 16px;
    color: $color-gray--main;
}

.text--title-5 {
    @extend .font-def;
    font-size: 14px;
}

.text--title-6 {
    @extend .font-def;
    font-size: 12px;
}

.text--title-6__caption {
    @extend .font-def;
    color: $color-gray--main;
    font-size: 12px;
}

.text--title-7 {
    @extend .font-def;
    font-size: 10px;
}

.text--title-7__bold {
    @extend .font-def;
    font-size: 10px;
    font-weight: 600;
}